{% extends 'base.html.twig' %}


{% block body %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
            <div class="jumbotron col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                <h1 class="display-4">Bienvenue !</h1>
                <p class="lead">Bienvenue sur le site de maintenance, veuillez vous connecter pour accéder aux données des sites. Si vous ne possédez pas encore de compte, vous pouvez en créer un en cliquant sur le bouton suivant.</p>
                <hr class="my-4">
                <a class="btn btn-primary btn-lg" href="{{path('register')}}" role="button">Vous inscrire</a>
            </div>
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1"></div>
        </div>
    </div>

{% endblock %}